extends layout-password

block content
	div.ui.one.column.centered.grid(style='padding-top:25px')
		div.column.six.wide(style='min-width:500px')
			form.ui.attached.fluid.segment.form(method='POST' id='changePassForm')
				h2 Enter new password
				div.field(id='passwordField')
					input(id = 'password' type='password', name='password' placeholder='Password',  autofocus)
				div.field(id='cpasswordField')
					input(id = 'cpassword' type='password', name='cpassword' placeholder='Confirm Password')
				div.ui.fluid.button(id='submitButton') Submit
				div.ui.hidden.negative.message(id='errorMessage')
					ul.list(id='errorList' style='font-size:12px;')
			a(href='/home' style='font-size:16px') Home