extends layout

block content
    div.ui.one.column.centered.grid(style='position:relative; top:50%; transform:translateY(-50%);')
        div.column.four.wide(id='loginPage' style='min-width:330px')
            form.ui.attached.fluid.segment.form(action='/login' method='POST' id='loginForm')
                h1(class='ui center aligned header') CAPS Device
                div.field
                    div.ui.icon.input
                        input(name='email' placeholder='Email' type='email' autofocus)
                        i.user.icon
                div.field
                    div.ui.icon.input
                        input(name='password' placeholder='Password' type='password')
                        i.lock.icon
                input.ui.fluid.button(type='submit' value='Login')
            div.ui.bottom.attached.message            
                p(style='text-align:center; font-size:13px')
                    a(href='/register') Create an account
            p(style='text-align:center; font-size:11px; font-style:italic;')
                    a(href='/register') Forgot your password?
                

