doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/dist/semantic.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/intlTelInput.css')
    script(src='https://code.jquery.com/jquery-1.11.2.min.js')
    script(src='/javascripts/intlTelInput.min.js')
    script(src='/dist/semantic.js')
    script(src='/javascripts/register.js')


  body
    block content