html
  head
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    meta(http-equiv='refresh', content='3;url=home')
  |     
  body
    h1(style="font-size:30px")= message
        p(style="font-size:20px") Redirecting in 3 seconds...

