a {
    color: inherit;
}

div.ui.bottom.attached.active.tab.segment {
	width: inherit;
}

.ui.menu .item {
    font-size: 13px;
}

.right.floated.circular.ui.icon.button {
	background-color: rgba(0, 0, 0, 0.80);
}

.negative.button {
    background-color: #4E446C !important;
}

#idk {
  /*filter: blur(0);*/
  -webkit-filter: blur(0);
}